{% load static %}
<div class="single-sidebar-widget newsletter-widget">
    <h4 class="newsletter-title">Newsletter</h4>
    <p>
        Here, I focus on a range of items and features that we use in life without
        giving them a second thought.
    </p>
    <div class="form-group d-flex flex-row">
        <form action="{% url 'blog:newsletter' %}" method="POST">
            {% csrf_token %}
            <div class="col-autos">
                <div class="input-group d-flex flex-row">
                    <input name="email" placeholder="Email Address" onfocus="this.placeholder = ''"
                        onblur="this.placeholder = 'Email Address '" required="" type="email">
                    <button class="btn bb-btn" type="submit"><span class="lnr lnr-location"></span></button>
                </div>
                <div class="mt-10 info"></div>
            </div>
        </form>
    </div>
    <p class="text-bottom">
        You can unsubscribe at any time
    </p>
</div>